.selected-menu {
    background-color: #386692;
    color: white;
}

.unselected-menu {
    color: #386692;
    cursor: pointer;
}

.left-panel {
    background-color: #F5F4F8;
}

.page-title {
    color: #386692;
    padding-top: 0.5cm;
    font-size: larger;
    font-weight: bold;
}

.section-title {
    color: #386692;
}

.form-field {
    margin-bottom: 10px;
}

.form-label {
    width: 500;
    display: inline-block;
}

.data-element {
    color: #386692;
    font-weight: bold;
}

.period {
    background-color: #F5F4F8;
    padding: 0.2cm;
    height: 1cm;
    border-radius: 2mm;
}

.report-panel {
    background-color: #F5F4F8;
    padding: 0.2cm;
    margin: 0;
}

.button {
    background-color: #386692;
    color: white;
}

.button:hover {
    color: white;
}

input {
    border: 0;
    outline: 0;
}

input:focus {
    outline: none !important;
}

select {
    border: 0;
    outline: 0;
}

select:focus {
    outline: none !important;
}

.report-value {
    background-color: white;
    color: #386692;
    font-weight: bold;
    padding: 0.1cm;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
    margin-bottom: 2mm;
}

.label {
    background-color: #E5E5EA;
    color: #386692;
    padding: 0.1cm;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
    margin-bottom: 2mm;
    margin-left: 0.3cm;
}